fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
python-jose
bcrypt==4.1.3
passlib[bcrypt]==1.7.4
pydantic
python-multipart
redis
celery
apscheduler
pandas
openpyxl
aiofiles
sqlalchemy-utils
python-dotenv
email-validator
orjson